bin/videocaptureDebug.app/Contents/Info.plist
bin/videocaptureDebug.app/Contents/PkgInfo
bin/videocaptureDebug.app/Contents/_CodeSignature/CodeResources
bin/videocaptureDebug.app/Contents/Frameworks/libfmodex.dylib
bin/videocaptureDebug.app/Contents/MacOS/videocaptureDebug
bin/videocaptureDebug.app/Contents/Resources/icon-debug.icns
videocapture.xcodeproj/project.pbxproj
videocapture.xcodeproj/project.xcworkspace/contents.xcworkspacedata
videocapture.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
videocapture.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
videocapture.xcodeproj/project.xcworkspace/xcuserdata/tenten.xcuserdatad/UserInterfaceState.xcuserstate
videocapture.xcodeproj/xcshareddata/xcschemes/videocapture Debug.xcscheme
videocapture.xcodeproj/xcshareddata/xcschemes/videocapture Release.xcscheme
